.container {
  width: 820px;
  height: 250px;
  background-color: silver;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  /* width: 1500px; */
}
  
.col {
  width: 220px;
  padding: 10px;
  background-color: blanchedalmond;
}

.col3 {
  width: 220px;
  padding: 10px;
  background-color: blanchedalmond;
}

