/* mobile first, the following are the rules by default*/
*{
  text-align: center;
}

body{
  color:coral;
}

.col {
  width: 100%;
  color: blue;
  background-color: aqua;
  
  outline: 2px solid black;
}

.sm-0{
  display: none;
}
.med-1{
  display: block;
}

.row{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}




